/*COLORS*/
$white: #fff;
$yellow: #fce38a;
$blue: #95e1d3;
$pink: #f38181;
$grey: #333;
$light-grey: #999;
$footer-line-color: #e5e5e5;
$lite-pink: #f7baba;
$placeholder-color: #ccc;

/*FONTS*/
$montserrat: "Montserrat", sans-serif;
$kaushan: "Kaushan Script", cursive;
$roboto: "Roboto", sans-serif;
