  html {
    box-sizing: border-box;
  }
    
    *, *::before, *::after {
    box-sizing: inherit;
  }

  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400&display=swap');

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #666;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
    display: block;
  }

  .partners_list {
    list-style: none;
  }

  ul {
    padding-left: 0;
  }

  .btn {
    outline: none;
  }

  .promo {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 20px 0 140px 0;
    position: relative;
    background-image: url(/img/Vector\ Smart\ Object.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .promo::after {
    content: '';
    background-color: rgba(26, 25, 21, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    height: 100%; 
  }

  .main_content {
    width: 100%;
    height: auto;
  }

  .page_header {
    z-index: 2;
    position: relative;
    display: flex;
    flex-flow: column-reverse;
  }

  .btn_login {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: none;
    background: none;
    transition: .4s;
  }

  .btn_login:hover {
    color: #ff4e50;
  }

  .sign_up {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: 2px solid #fff;
    background: none;
    border-radius: 20px;
    line-height: 30px;
    padding: 0 20px;
    transition: .4s;
  }

  .sign_up:hover {
    color:  #ff4e50;
    border: 2px solid #ff4e50;
  }

  .head_btns {
    margin-bottom: 115px;
  }

  .logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
  }

  .promo_block {
    z-index: 2;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .promo_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
  }

  .promo_subtitle {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin: 20px;
  }

  .promo_btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 280px;
    height: 40px;
    border: none;
    background: #ff4e50;
    color: #fff;
    border-radius: 20px;
    transition: .4s;
  }

  .promo_btn:hover {
    background: #fff;
    color: #ff4e50;
  }

  /*PARTNERS*/

  .partners {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    padding: 60px 0;
  }

  .partners_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }

  .partners_list {
    display: flex;
    flex-flow: column wrap;
  }

  .partners_list_item {
    max-width: 230px;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px;
  }

  .partner_pic {
    display: inline-block;
    margin: 0 auto;
    position: relative;
  }

  .pic_1::after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    content: '';
    background-image: url(/img/icon_tv.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ff4e50;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
  }

  .pic_2::after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    content: '';
    background-image: url(/img/icon_cup.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1cd7ad;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
  }

  .pic_3::after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    content: '';
    background-image: url(/img/icon_bottle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffa507;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
  }

  .pic_4::after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    content: '';
    background-image: url(/img/icon_message.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #4e73db;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
  }

  .partner_name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin: 20px 0;
  }

  .partners_btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    width: 280px;
    height: 40px;
    border: 2px solid #ff4e50;
    color: #ff4e50;
    border-radius: 20px;
    transition: .4s;
    background: none;
  }

  .partners_btn:hover {
    color: #fff;
    background-color: #ff4e50;
  }

  @media screen and (min-width: 600px) {
    .promo {
      width: 100%;
      max-width: 768px;
      padding: 50px 0 235px 0;
  }

  .page_header {
    flex-flow: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 48px;
    margin-right: 48px;
  }

  .promo_title {
    font-size: 52px;
    width: 500px;
  }

  .promo_subtitle {
    font-size: 24px;
    margin: 40px;
  }

  .partners {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    padding: 60px 0;
  }

  .partners_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 600px;
  }
}

@media screen and (min-width: 940px) {
  .promo {
    width: 100%;
    max-width: 1440px;
  }

  .partners_list {
    max-width: 100%;
  }

  .page_header {
    margin-left: 248px;
    margin-right: 248px;
  }
}